* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.about-header {
    padding-top: 80px;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/team-bg.jpg); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;  
    position: relative;
}
.about-header h1 {
    margin-top: 30px;
}

/* Remove all nav-related CSS */

.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img {
    width: 100%;
    border-radius: 10px;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 25px;
}

/* Footer */

.footer {
    background-color: #292929;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.footer h3 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}
.icons .fa {
    font-size: 20px;
    color: #ffffff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
