* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.about-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/team-bg.jpg); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;  
    position: relative;
}
.about-header h1 {
    margin-top: 30px;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li ::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #9ef436;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after {
    width: 100%;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}
nav .fa {
    display: none;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.about {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img {
    width: 100%;
    border-radius: 10px;
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 25px;
}

/* Footer */

.footer {
    background-color: #292929;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.footer h3 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}
.icons .fa {
    font-size: 20px;
    color: #ffffff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
