* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.about-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/team-bg.jpg); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;  
    position: relative;
}
.about-header h1 {
    margin-top: 30px;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 150px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li ::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #f44336;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after {
    width: 100%;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}
.first-btn {
    display: inline-block;
    text-decoration: none;
    color: gray;
    border:  1px solid gray;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.first-btn:hover {
    color: white;
    border: 1px solid red;
    background: red;
    transition: 0.5s;
}
nav .fa {
    display: none;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/* Contact Us */

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe {
    width: 100%;
}
.contact-us {
    width: 80%;
    margin: auto;
}
.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: blue;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc; 
    box-sizing: border-box;
}


/* Footer */

.footer {
    background-color: #292929;
    width: 100%;
    text-align: center;
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.footer h3 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa {
    font-size: 20px;
    color: #ffffff;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
