* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.about-header {
    padding-top: 80px;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/aayam-1.jpg); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;  
    position: relative;
}
.about-header h1 {
    margin-top: 30px;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}
.nav-links {
    display: flex; 
}
.nav-links ul {
    display: flex; 
    gap: 20px; 
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links.visible {
    visibility: visible;
}
.nav-links ul li {
    display: flex;
    align-items: center;
}
.nav-links ul li:last-child {
    margin-right: 0; 
}
.nav-links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}
/*-- Login button --*/
.nav-links ul li .login-btn {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 25px;
    background: linear-gradient(90deg, #306e14, #4faf00 70%);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    white-space: nowrap; 
}

.nav-links ul li .login-btn:hover {
    background: linear-gradient(90deg, #265710, #418f01);
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}

.nav-links ul li ::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #9ef436;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after {
    width: 100%;
}
.text-box p {
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}
nav .fa {
    display: none;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color:#777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


/* Events CSS */

.project {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.project-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.project-col img {
    width: 100%;
    border-radius: 10px;
}
.project-col p {
    padding: 0;
}
.project-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/* Footer */

.footer {
    background-color: #292929;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}
.footer h3 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}
.icons .fa {
    color: #acacac;
    padding: 18px 0;
    font-size: 20px;
    margin: 0 13px;
    cursor: pointer;
}
