
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */
.about-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/soar11/PHO_3235.JPG); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;  
    position: relative;
}
.about-header h1 {
    margin-top: 30px;
}


nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img {
    width: 100px;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #9ef436;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
nav .fa {
    display: none;
}


h1 {
    font-size: 36px;
    font-weight: 600;
}


p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.row {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Members Section */
.project {
    width: 100%;
    margin: auto;
    padding-top: 0px;
}
.project-col {
    flex-basis: calc(33.33% - 40px); 
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project-col img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.project-col h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.project-col p {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

/* Footer */
.footer {
    background-color: #292929;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.footer h3 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}
.icons .fa {
    color: #acacac;
    padding: 18px 0;
    font-size: 20px;
    margin: 0 13px;
    cursor: pointer;
}
