
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Header Section */
.about-header {
    padding-top: 80px;
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../img/team.png); 
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;  
    position: relative;
    
    margin-bottom: 50px;
}
.about-header h1 {
    margin-top: 30px;
}
nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}
.nav-links {
    display: flex; 
}
.nav-links ul {
    display: flex; 
    gap: 20px; 
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links.visible {
    visibility: visible;
}
.nav-links ul li {
    display: flex;
    align-items: center;
}
.nav-links ul li:last-child {
    margin-right: 0; 
}
.nav-links ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}
/*-- Login button --*/
.nav-links ul li .login-btn {
    font-size: 18px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 25px;
    background: linear-gradient(90deg, #306e14, #4faf00 70%);
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    white-space: nowrap; 
}

.nav-links ul li .login-btn:hover {
    background: linear-gradient(90deg, #265710, #418f01);
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
}
.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background: #9ef436;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after {
    width: 100%;
}
nav .fa {
    display: none;
}


h1 {
    font-size: 36px;
    font-weight: 600;
}


p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.row {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Members Section */
.project {
    width: 100%;
    margin: auto;
    padding-top: 0px;
}
.project-col {
    flex-basis: calc(33.33% - 40px); 
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project-col img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.project-col h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.project-col p {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

/* Footer */
.footer {
    background-color: #292929;
    color: white;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.footer h3 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}
.icons .fa {
    color: #acacac;
    padding: 18px 0;
    font-size: 20px;
    margin: 0 13px;
    cursor: pointer;
}
